{% extends 'layout.html' %}
{% block main %}
{% if account_exists %}

<div style="background-color:{% if tutortype == 'tutee' %}green{%else%}red{%endif%}">
    <div class="jumbotron">
        {% if pair %}
        <h2>Your Match Is...</h2>
        <p>{% if tutortype == 'tutee' %}your tutor is: {{pair[4]}} {{pair[3]}}{%elif tutortype == 'tutor' %} your tutee is: {{pair[4]}}{{pair[3]}}{%endif%}</p>
        {% else %}
        <h2> Unfortunately, you do not have a matching yet </h2>
        {% endif %}
    </div>
</div>
{% else %}

<p>if you are a tutor: <a href="/dashboard/tutor">CLICK HERE</a></p>
<p>if you are a tutee: <a href="/dashboard/tutee">CLICK HERE</a></p>

{% endif %}
{% endblock %}
