{% extends "layout.html" %}
{% block main %}

<p> {{ loggedin }} </p>
<div style="flex-grow: 1"></div>
<div class="row justify-content-center align-middle">
    <h1>I live near...</h1>
</div>
<div class="row justify-content-center">        
    <div class="input-group mb-3">
        <input type="text" class="form-control form-control-lg"placeholder="Centre Location" id="centreSearch">
        <div class="input-group-append">
            <button type="button" onclick="selectCentre()" class="btn btn-outline-primary">Go</button>        
        </div>
    </div>
</div>
{% endblock %}
