{% extends "forms.html" %}
{% block endpoint %}tutee{% endblock %}
{% block questions %}

<div>
    <label for="fname">First Name:</label>
    <input type="text" name="fname">
</div>
<div>
    <label for="sname">Surname:</label>
    <input type="text" name="sname">
</div>
<div>
    <label for="first_subject">First Choice Subject:</label>
    <select name="first_subject">
        {% for r in data %}

        <option value="{{r}}">{{r}}</option>

        {% endfor %}
    </select>
</div>
<div>
    <label for="second_subject">Second Choice Subject:</label>
</div>

{% endblock %}
